#plink{
  font-size:1em;
  text-decoration: underline;
  
}
#viewMore{
  margin-top: 30px;
  
}
#aboutp{
  margin-top:50px;
}
.hidden{
  display:none;
}
a{
  color:black;
  display:inline-block;
}
#topMenu, .sbutton:nth-child(2){
  
  background-color:#99002b;
  color:white;}
#topMenu, .sbutton:hover{
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.7);
}
#aboutPage, .sbutton:nth-child(3){
  background-color:#e46791;
}
body, .sbutton:nth-child(4), .aboutText{
  background-color:#f0a8c0;
  color:black;
 font-family: 'Merriweather', serif;
}
h1{
  font-family: 'Sunshiney', cursive;
  padding-bottom:20px;
  text-shadow: 1px 1px 1px #99002b;
}
#social{
   background-color:#f0a8c0;
  padding-bottom:30px;
}
#portfolio, .sbutton:nth-child(5){
  background-color:#f7d4e0;
  
}
#contact, .sbutton:nth-child(6){
  background-color:white;
}
footer{
  background-color:#99002b;
}
.mint{
  border-radius:50%;
  height:10px;
  width:10px;
  padding:0px 10px 0px 10px;
  color:#f0a8c0;
  border:2px dashed #99002b;
  background:url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no)
}
#picturetext{
 
  padding: 13px 0px 13px 0px;
  margin: 5px 15px 5px 15px;
  opacity: 1.0;
}
#aboutlink:hover{
  background:#e46791;
  color:#99002b;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
  
}
#aboutlink, #homelink{
  color:#e46791;
  font-size:20px;
  
}
#sociallink:hover{
  background:#f0a8c0;
  color:#99002b;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}
#sociallink{
  color:#f0a8c0;
  font-size:20px;
}
#portfoliolink:hover{
  background:#f9ebf2;color:#99002b;
}
#portfoliolink{
  color:#f9ebf2;
  font-size:20px;
}
#contactlink:hover{
  background:white;color:#99002b;
}
#contactlink{
  color:white;
  font-size:20px;
}

#borderimg { 
  
    border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no) 30 round; /* Opera 11-12.1 */
    border-image: url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no) 30 round;
}
#borderimgsm { 
  
    border: 10px solid transparent;
    padding: 0px;
    -webkit-border-image: url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no) 30 round; /* Safari 3.1-5 */
    -o-border-image: url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no) 30 round; /* Opera 11-12.1 */
    border-image: url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no) 30 round;
}
.sbutton{
  padding:10px;
width:150px;
color:black;
  -moz-box-shadow: -6px 4px 6px 1px #99002b;
	-webkit-box-shadow: -6px 4px 6px 1px #99002b;
	box-shadow: -6px 4px 6px 1px #99002b;
	background-color:transparent;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid #6c1331;
	display:inline-block;
	font-weight:bold;
	font-style:normal;
	height:40px;
  text-decoration:none;
	
	
 }
.sbutton:hover{
  background:url(https://lh3.googleusercontent.com/miJbOjRkbBd2o3RApa6f8nxmLqc8BAUQGiGmglk9od5Y7a_jmrh9g1CZKMmXb65BHkDOt7cE_7gPKxVjJ-uSjqUaSDbA9NusNRpNRKEe03O-6zl2N_SeDNw8hbwP1jVZsBqk--EQ-6ytWSCwile2oi9lXgKoDCeZ9xVCxFHIjdk22uix8BSOhHuZ1FhVpvhJ1OVrSM0fKONPnL2wk7ALYPj_UPmgSiS4N5B-SB2LeoKqJMU7O8zfFyC9_ojCm54x7aiklG95t0G_EcbzMOu92GVooQ9UcpT92EVT4wo1BOagXHVGdz1TP5FQ2KKNNFrIXjJkS8GMiarnwguctFhUSSU9g8qjeMSCPTd3L6r2xmmUxR26RQnweIo8Kk6Yzj_9f8vkNVfkFPj0JCB31JQXEjET8qD9zpnMNsIuia4m_PnO7r4mMDM2nfk0jLT5h6kbTYvnvYoPyiC9g8z_s9DoXzsoHX1J9WyvLQ72SBgJ1Q31--Mb0Sw5qZWMvsZ6wwrbKykeV5W8vhuo2gvgYt6uYhryMvo2yUaeQnFrhM-8v0ItDfgDTkNN8aSNEs0kUC-qOMMycHy2kispMlF2qZ4KHW-yIFxxy-mEwtC2wV9YoMe8ZHDwk7Bikp0X60TfamBO8cv3-hN5FSYGGVP8hfzyvQ7gXpaNl238=w600-h345-no);
  text-decoration:none;
  color:black;
  
  
}
footer{
  padding:10px;
  color:white;
  
}
#contactsubmit:hover{
  background: white;
  animation-name: submitBtn;
    animation-duration: 2s;
   animation-iteration-count: infinite;
  
  
}
#contactsubmit{
  background: #f0a8c0;
  padding:5px;
  font-weight:bold;
  font-size:1.2em;
  ;
}
p a, .q{
  font-size:1.2em;
}
p a:hover, .q:hover{
  color:#99002b;
}
@keyframes fontColor {
    0%   {color: #f0a8c0;}
    25%  {color: #f7d4e0;}
    50%  {color: white;}
    100% {color: #e46791;}
}
 #homelink:hover {
  animation-name: fontColor;
    animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}


@keyframes submitBtn {
    0%   {box-shadow: inset 3px 3px 2px 1px #99002b, inset -3px -3px 2px 1px #99002b;}
    25%  {box-shadow: inset 3px 3px 2px 10px #e46791, inset -3px -3px 2px 10px #e46791;}
    50%   {box-shadow: inset 3px 3px 2px 30px #f0a8c0, inset -3px -3px 2px 30px #f0a8c0;}
    100% {box-shadow: inset 3px 3px 2px 50px #f7d4e0, inset -3px -3px -10px 2px 50px #f7d4e0}
}
